@import "output.css";

body {
    background-color : #d5e6ee;
    font-family: 'Quicksand', 'Noto Sans JP', sans-serif;
    color : #333;
}

.about-card {
    background-color: #eff8fd;
    box-shadow: 4px 8px 8px 8px rgba(38, 67, 90, 0.05);
}

.about-container p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    transition: .2s;
    color: rgb(45, 168, 250);
}

a:hover {
    color: rgb(173, 218, 250);
}